.wrapper {
  position: relative;

  & > *:not(:last-child) {
    visibility: hidden;
  }
}

.loader {
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  & > * {
    margin-left: 0px;
  }
}